@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800,700');

body {
  background: #fff;
  font-size: 15px;
  font-weight:500;
  font-family: 'Montserrat', sans-serif !important;
  color: #000;
}

/*navigation bar and stuffs*/

.topnav {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.logo_image {
  height: 20px;
  width: auto;
}

.nav-link {
  color: #a1a1a1;
  &:hover {
    color: #e3e3e3;
  }
}

.active .nav-link {
  color: #fff;
  
}

.fixed-top {
  position: sticky !important;
}

#nav-icon3 {
  width: 30px;
  height: 29px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 10px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 10px;
      width: 0%;
      left: 50%;
    }
  }
}

/*-------------------
        MAIN BODY
-------------------*/

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 20%;
  padding-left: 45%;
  background: rgba(255, 255, 255);
  transition: 1s 0.4s;
}

.carousel {
  -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.car-book-section {
  background: url('../img/Book-Now.jpg');
  height: auto;
  padding: 10px;
}

.heading {
  color: white;
  font-weight: 700;
  margin-bottom: 3%;
}

.text-black {
  color: black;
}

select {
  text-align: center;
  text-align-last: center;
  border-radius: 0 !important;
  font-weight: 800;
}

input {
  border-radius: 0 !important;
}

option {
  text-align: center;
  text-align-last: center;
}

.icons {
  height: 20px;
  width: 20px;
  margin-right: -10px;
}

button {
  background-color: #fff;
  border-radius: 0 !important;
  -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  font-weight: 800 !important;
}

button:hover {
  background-color: #2d2929;
  color: white;
}

textarea {
  border-radius: 0 !important;
}

.footer {
  line-height: 8vh;
  text-align: center;
  background-color: #e3e3e3;
}

.margin-b-2 {
  margin-bottom: 3%;
}
.contact-us-placeholder{
  font-style:italic
}

@media screen and (min-width: 480px) {
  .footer-div {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-div {
    max-width: 50% !important;
  }
}

/* MAP SECTION */

.gm-style-iw {
  background-color: black;
  padding: 2%;
  color: #fff;
  width: 150px;
}

.gm-style{
  font-family: 'Montserrat', sans-serif !important;
}